name: Deploy

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: caprover/deploy-from-github@v1.1.2
        with:
          server: https://captain.labs.odc.sn.gestionecoleodc.com
          app: backend
          token: ${{ secrets.CAPROVER_TOKEN }}
